<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <base href="/">
    <link rel="stylesheet" href="stylesCompany.css">
</head>
<body>
    <h1>Página Edit Inscription</h1>
    <fieldset id="nav">
        <a href="<%= BaseURL %>inscription/SSR/new">Nueva inscription</a>  <!-- Enlace para nueva inscripción -->
        <a href="<%= BaseURL %>company/SSR">Empresas</a> <!-- Enlace a index de empresas -->
        <a href="<%= BaseURL %>users/SSR">Usuarios</a> <!-- Enlace a index de usuarios -->
    </fieldset><br>
    <form action="<%= BaseURL %>inscription/SSR/<%= inscription._id %>?_method=PATCH" method="POST"> <!-- fprmulario de edicion -->
        <fieldset>
            <label for="FecIni">Fecha de Inicio:</label>
            <input type="text" placeholder="Fecha Inicio" name="FecIni" value="<%= inscription.FecIni %>" required> <!-- Campo de fecha inicio -->
            <label for="FecFin">Fecha Exp (Opcional):</label>
            <input type="date" placeholder="Fecha Fin" name="FecFin" value="<%= inscription.FecFin %>"> <!-- Campo de fecha fin -->
            <label for="Observaciones">Observaciones:</label>
            <input type="text" placeholder="Observaciones" name="Observaciones" value="<%= inscription.Observaciones %>"> <!-- Campo de observaciones -->
            <button>Guardar</button>
        </fieldset>
    </form>
</body>
</html>