<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <base href="/">
    <link rel="stylesheet" href="stylesCompany.css">
</head>
<body>
    <h1>Página Edit Inscription</h1>
    <fieldset id="nav">
        <a href="<%= BaseURL %>inscription/SSR/new">Nueva inscription</a>  <!-- Enlace para nueva inscripción -->
        <a href="<%= BaseURL %>company">Empresas</a> <!-- Enlace a index de empresas -->
        <a href="<%= BaseURL %>users">Usuarios</a> <!-- Enlace a index de usuarios -->
    </fieldset><br>
    <form action="<%= BaseURL %>inscription/SSR/<%= inscription._id %>?_method=PATCH" method="POST"> <!-- fprmulario de edicion -->
        <fieldset>
            <label for="FecIni">Fecha de Inicio:</label>
            <input type="text" placeholder="Fecha Inicio" name="FecIni" value="<%= inscription.FecIni %>" required> <!-- Campo de fecha inicio -->
            <label for="IdCompany">Compañía:</label>
            <select name="IdCompany" required> <!-- Campo de empresa -->
                <option value="">Editar la compañía</option>
                <% companies.forEach(function(company) { %>
                    <option value="<%= company._id %>"><%= company.name %> - <%= company.cif %></option>
                <% }); %>
            </select>        
            <label for="IdUser">Usuario:</label>
            <select name="IdUser" required> <!-- Campo de usuario -->
                <option value="">Editar un usuario</option>
                <% users.forEach(function(user) { %>
                    <option value="<%= user.idUser %>"><%= user.firstName %> <%= user.lastName %> - <%= user.nif %></option>
                <% }); %>
            </select>
            <label for="FecFin">Fecha Exp (Opcional):</label>
            <input type="date" placeholder="Fecha Fin" name="FecFin" value="<%= inscription.FecFin %>"> <!-- Campo de fecha fin -->
            <label for="Observaciones">Observaciones:</label>
            <input type="text" placeholder="Observaciones" name="Observaciones" value="<%= inscription.Observaciones %>"> <!-- Campo de observaciones -->
            <button>Guardar</button>
        </fieldset>
    </form>
</body>
</html>