<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
    <base href="/">
    <link rel="stylesheet" href="stylesCompany.css">
</head>
<body>
    <h1>Página Inscription</h1>
    <fieldset id="nav">
        <a href="<%= BaseURL %>inscription/new">Nueva inscription</a> <!-- Enlace para nueva inscripción -->
        <a href="<%= BaseURL %>company">Empresas</a> <!-- Enlace a index de emprtesa -->
        <a href="<%= BaseURL %>users">Usuarios</a> <!-- Enlace a index de usuarios -->
    </fieldset><br>
    <div id="body">

        <% if(datosInscription && datosInscription.length > 0) { %> <!-- Verifica si hay inscripciones -->
            <% for(let inscription of datosInscription) { %> <!-- Itera sobre las inscripciones -->
                <fieldset>
                    <div>
                        <p>Usuario: <!-- Muestra el nombre del usuario -->
                            <% const user = users.find(u => u.idUser === inscription.IdUser) %>
                            <%= user ? `${user.firstName} ${user.lastName}` : inscription.IdUser %>
                        </p>
                    </div>
                    <div>
                        <p>Nombre de la compañia: <!-- Muestra el nombre de la empresa -->
                            <% const company = companies.find(c => c._id.toString() === inscription.IdCompany.toString()) %>
                            <%= company ? company.name : inscription.IdCompany %>
                        </p>
                    </div>
                    <div>
                        <p>Fecha inicio: <%= inscription.FecIni %></p> <!-- Muestra fecha de inicio -->
                    </div>
                    <div>
                        <p>Id: <%= inscription._id %></p> <!-- Muestra ID de inscripción -->
                    </div>
                    <div>
                        <p>Fecha de Expiración: 
                            <% if (inscription.FecFin) { %>
                                <%= inscription.FecFin %>
                            <% } else { %>
                                No hay fecha de Expiración
                            <% } %>
                        </p>
                    </div>
                    
                    <div id="boton">
                        <a href="<%= BaseURL %>inscription/edit/<%= inscription._id %>">Editar inscription</a> <!-- Enlace para editar -->
                    </div>
                    <form id="eliminar" action="<%= BaseURL %>inscription/<%= inscription._id %>?_method=DELETE" method="POST" > <!-- Formulario para eliminar -->
                        <button type="submit">
                            Eliminar
                        </button>
                    </form>
                </fieldset><br>
            <% } %>
        <% } else { %> <!-- Si no hay inscripciones -->
            <fieldset>
                <p>No hay inscripciones disponibles</p> <!-- Mensaje cuando no hay datos -->
            </fieldset>
        <% } %>
    </div>
    <div style="margin-top: 20px;">
        
    </div>
</body>
</html>