<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription</title>
</head>
<body>
    <h1>Página New Inscription</h1>
    <form action="<%= BaseURL %>inscription" method="POST">
        <% var fecha = new Date(); %>
        <%var mes = (fecha.getMonth()+1).toString();%>
        <%var dia = (fecha.getDate()).toString(); %>
        <%var anyo = (fecha.getFullYear()).toString(); %>
        <input type="text" name="FecIni" value=<%= `${anyo}-${mes}-${dia}` %> readonly>
        <select name="IdCompany" required>
            <option value="">Seleccione una compañía</option>
            <% companies.forEach(function(company) { %>
                <option value="<%= company._id %>"><%= company.name %> - <%= company.cif %></option>
            <% }); %>
        </select>        
        <select name="IdUser" required>
            <option value="">Seleccione un usuario</option>
            <% users.forEach(function(user) { %>
                <option value="<%= user.idUser %>"><%= user.firstName %> <%= user.lastName %> - <%= user.nif %></option>
            <% }); %>
        </select>
        <input type="date" placeholder="Fecha Fin" name="FecFin">
        <input type="text" placeholder="Observaciones" name="Observaciones">        
        <br>
        <br>
        <button>Guardar</button>
    </form>
    <a href="<%= BaseURL %>inscription/">Volver atrás</a>
</body>
</html>