<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=datosCompany.name%> - Editar</title>
    <base href="/">
    <link rel="stylesheet" href="stylesCompany.css">
</head>
<body>
    <h1>Editar <%= datosCompany.name %></h1>
    <fieldset id="nav">
        <a href="<%= BaseURL %>company">Inicio</a>
        <a href="<%= BaseURL %>inscription">Inscripciones</a>
        <a href="<%= BaseURL %>users">Usuarios</a>
    </fieldset><br>

    <form action="<%= BaseURL %>company/<%= datosCompany._id %>?_method=PATCH" method="POST">
        <fieldset>

            <h3>DATOS GENERALES</h3>
            <label for="type">Tipo de empresa: </label>
            <input type="text" name="type" value="<%= datosCompany.type %>">

            <h3>LOCALIZACIÓN</h3>
            <label for="ciudad">Ciudad: </label>
            <input type="text" name="ciudad" value="<%= datosCompany.city %>"><br><br>
            <label for="provincia">Provincia</label>
            <input type="text" name="provincia" value="<%= datosCompany.area %>"><br><br>
            <label for="postal">Código postal: </label>
            <input type="number" name="postal" value="<%= datosCompany.postalCode %>"><br><br>
            <label for="direccion">Dirección: </label>
            <input type="text" name="direccion" value="<%= datosCompany.address %>">

            <h3>CONTACTO</h3>
            <label for="tel">Teléfono: </label>
            <input type="tel" name="tel" value="<%=datosCompany.phone%>"><br><br>
            <label for="email">Correo electrónico: </label>
            <input type="email" name="email" value="<%=datosCompany.email%>">

            <h3>DATOS DE ACTUALIZACIÓN</h3>
            <p>Fecha de creación: <%= datosCompany.createDate %></p>
            <p>Fecha de última actualización: <%= datosCompany.modifiedDate %></p>
            <% var fecha = new Date(); %>
            <%var mes = (fecha.getMonth()+1).toString();%>
            <%var dia = (fecha.getDate()).toString(); %>
            <%var anyo = (fecha.getFullYear()).toString(); %>
            <input type="hidden" name="modifiedDate" value="<%= `${anyo}-${mes}-${dia}` %>" readonly>
            
            <button>Enviar</button><br>
        </fieldset>
    </form>
</body>
</html>