<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edición Usuario</title>
</head>
<body>
<h1>Editar User</h1>
    <h2>ID: <%= comentario.id %></h2>
    <form action="<%= BaseURL %>/users/<%=  %>?_method=PATCH" method="POST">
        
        </select>
        <br>
        <label></label>
        <br>
        <textarea name="opinion" cols="30" rows="5" required>
            <%=  %>
        </textarea>
        <br>
        <br>
        <button>Guardar</button>      
        <a href="<%= BaseURL %>/">Cancelar</a>
    </form>    
</body>
</html>