<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio Users</title>
</head>
<body>
    <h1>PAGINA INICIO USERS</h1>
    <a href="<%= BaseURL %>users/new">Crear usuario</a>
    <% for( let c of datosUsers ) { %>
        <ul>
            <li>NIF : <%= c.nif %></li>
            <li>Username : <%= c.username %></li>
            <a href="<%= BaseURL %>users/<%= c.idUser %>">Show Details</a>
        </ul>
        <hr>
    <% } %>
</body>
</html>