<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario <%= datosUsuario.username %></title> <!-- Muestra el username del usuario en el título -->
    <base href="/">
    <link rel="stylesheet" href="stylesCompany.css">
</head>
<body>
    <h1><%= datosUsuario.username %></h1> <!-- Muestra el nombre de usuario -->
    <fieldset id="nav">
        <a href="<%= BaseURL %>users/SSR">Inicio</a> <!-- Enlace a index de usuarios -->
        <a href="<%= BaseURL %>inscription/SSR">Inscripciones</a> <!-- Enlace a index de inscripcion -->
        <a href="<%= BaseURL %>company/SSR">Empresas</a> <!-- Enlace a index de empresa -->
    </fieldset><br>

    <fieldset>

        <h3>DATOS PERSONALES</h3>
        <p>ID: <%= datosUsuario.idUser %></p> <!-- Muestra el ID -->
        <p>NIF: <%= datosUsuario.nif %></p> <!-- Muestra el NIF -->
        <p>Nombre: <%= datosUsuario.firstName %></p> <!-- Muestra el nombre  -->
        <p>Apellidos: <%= datosUsuario.lastName %></p> <!-- Muestra los apellidos -->
        <p>Email: <%= datosUsuario.email %></p> <!-- Muestra el email -->

        <h3>DATOS DE ACTUALIZACIÓN</h3>
        <p>Created Date: <%= datosUsuario.createdDate %></p> <!-- Muestra la fecha de creación -->
        <p>Modified Date: <%= datosUsuario.modifiedDate %></p> <!-- Muestra la fecha de modificación -->
        <p>ROL: <%= datosUsuario.profile %></p> <!-- Muestra el rol -->
        
        <a href="<%= BaseURL %>users/SSR">Volver</a><br> <!-- Enlace para volver al index -->
        <a href="<%= BaseURL %>users/SSR/edit/<%= datosUsuario.idUser %>">Editar</a> <!-- Enlace para edit -->
        <form id="eliminar" action="<%= BaseURL %>users/SSR/<%= datosUsuario.idUser %>?_method=DELETE" method="POST"> <!-- Formulario para eliminar usuario -->
            <button>Eliminar</button> <!-- Botón para eliminar -->
        </form>
    </fieldset>
    
</body>
</html>